/* GLOBAL */
body {
    margin: 0;
    background: #050807;
    font-family: "Courier New", monospace;
    color: #d6ffd9;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.layer-1 {
    width: min(1100px, 95%);
    border: 2px solid #1aff6b;
    padding: 20px;
    box-shadow: 0 0 20px rgba(26,255,107,0.15);
    position: relative;
}

/* HEADER CONTENT */
.header-L2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #1aff6b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.status {
    color: #ffe66d;
}

/* SYSTEM LOGGING */
.system-log {
    border: 1px dashed #1aff6b;
    padding: 10px 15px;
    font-size: 13px;
    color: #c0ffc9;
    margin-bottom: 20px;
}

.system-log p {
    margin: 4px 0;
}


/* MAIN CONTENT */
.main-L2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-L2 h2{
    margin-top: 0;
    font-size: 16px;
    color: #1aff6b;
    border-bottom: 1px solid #1aff6b;
    padding-bottom: 5px;
}

/* ROW-1 */
.row-1 {
    display: flex;
    gap: 20px;
}

/* profile layout */
/* SUBJECT PROFILE */
.left-column {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
}

.profile-details{
    border: 1px solid #1aff6b;
    padding: 15px;
}

.profile-details ul{
    list-style: none;
    padding-left: 0;
}

.profile-details ul li{
    margin-bottom: 6px;
}

.profile-details ul li span{
    color: #ffe66d;
}

/* SUBJECT PROFILE */
.containment-details {
    flex: 1;
    border: 1px solid #1aff6b;
    padding: 15px;
}

.containment-details ul {
    list-style-type: square;
}

/* image layout */
.right-column {
    flex: 1;
}

/* IMAGE */
.profile-image {
    border: 1px solid #1aff6b;
    padding: 15px;
    text-align: center;
}

.profile-image img {
    width: 100%;
    max-width: 220px;
    filter: grayscale(60%) contrast(1.2);
}

.caption {
    font-size: 12px;
    margin-top: 5px;
    color: #aaa;
}

/* ROW-2 */
.row-2 {
    border: 1px solid #1aff6b;
    padding: 15px;
}

/* ROW-3 */
.row-3 {
    border: 1px solid #1aff6b;
    padding: 15px;
}


/* LOGS */
.log {
    list-style-type: square;
}


/* FOOTER */
.terminal-footer {
    margin-top: 20px;
    border-top: 1px solid #1aff6b;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

.redacted {
    background-color: #fff;
    color: #fff;
    padding: 0 6px;
    transition: color 0.2s ease;
}

.redacted:hover {
    background-color: #000;
    color: #ffe66d;
}


.analyst-note {
    border-left: 3px solid #ffe66d;
    padding-left: 10px;
    font-size: 13px;
    color: #ffe66d;
    margin-top: 10px;
}


.meter {
    width: 100%;
    height: 10px;
    border: 1px solid #1aff6b;
    margin-top: 5px;
}

.level {
    height: 100%;
    width: 40%;
    background: #ffe66d;
}
